/*
 * @Author: Esther 
 * @Date: 2017-11-06 19:10:41 
 */

.brandTitle {
    background-color: #ffffff;
    padding-bottom: px2em(20);
    .header {
        font-size: 16px;
        color: #874604;
        height: px2em(40);
        padding-left: px2em(10);
        line-height: px2em(40);
        margin: px2em(10) px2em(5);
        border: 1px solid #ccc;
        background-color: #eee;
        @include font-dpr(16);
    }
    .list {
        border-radius: 5px;
        background: #ededed;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #666;
        ul {
            li {
                a {
                    height: 40px;
                    background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
                    line-height: 40px;
                    color: #000;
                    font-size: 16px;
                    display: block;
                    padding-left: 16px;
                    border-bottom: 1px solid #ccc;
                    font-weight: bold;
                    span {}
                }
            }
        }
    }
}