/*
 * @Author: Esther 
 * @Date: 2017-11-06 19:13:11 
 */

.inlanddiscount {
    background: #fff;
    ul {
        width: 100%;
        li {
            float: left;
            width: 50%;
            a {
                width: 100%;
                padding-left: px2em(8);
                padding-top: px2em(12);
                display: block;
                .topImg {
                    img {
                        margin: px2em(10) auto;
                        display: block;
                        width: px2em(140);
                        height: px2em(140);
                    }
                }
                .info {

                    padding: px2em(10) px2em(8);
                    @include font-dpr(14);
                    .tit {
                        font-weight: bold;

                        color: #333;
                        line-height: px2em(18);
                        height: px2em(36);
                        overflow: hidden;
                        word-break: break-all;
                        @include font-dpr(14);
                    }
                    .price {
                        line-height: px2em(18);
                        height: px2em(18);
                        word-break: break-all;
                        overflow: hidden;
                        color: $main-color-price;
                    }
                    .mall {

                        color: $main-font-color-grew;
                        @include font-dpr(14);
                        .from {}
                        .time {}
                    }
                }
            }
        }
    }
}