/*
 * @Author: Esther 
 * @Date: 2017-11-04 18:04:53 
 */

$main-color:#ff841d;
$main-color-price:#ff6c00;
$main-font-color:#5a5a5a;
$main-font-color-grew: #a1a1a1;
$main-color-line:#e6e6e6;
$productlist-color-price:#ed0000;